.grid {
    display: grid;
  }

  /* MENU */
  
  .menu{
    max-width:100%;
    height: 100%; 
    background-color: #f5df60;
    
  }
  
  .menu>div{
    display: inline-grid;
    font-size: 3rem;
    justify-content: stretch;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
  
  }
   
  /* GALLERY */
  
  .gallery{
    display: inline-grid;
  }
  .carro{
    width: 20rem;
    height: 10rem;
    padding: 2%;
  }
  
  /* Grid Item */
  .item {
    border: 1px solid black;
    text-align: center;
    font-size: 2em;
  }


  
