.grid {
    display: grid;
  }
  
  
  .grid-template-1{
    grid-template: 
    "logo nav nav" 
    "sidebar content content" 
    "footer footer footer" / 20em ;
  }
  .stretch{
    justify-content: stretch
  }
  .logo{
    grid-area: logo;
  }
  
  .nav{
    grid-area: nav;
  }
  .sidebar{
    grid-area: sidebar;
  }
  .content{
    grid-area: content;
  }
  .footer{
    grid-area: footer;
  }
  
  
  /*Imagens*/
  
  .logoGato{
    padding: 20px;
    width: 15rem;
  }
  
  .gatos{
    width: 8rem;
    height: 6rem;
    padding: 1%;
  }
  
  
  /* MENU */
  
  .menu{
    max-width:150%;
    height: 90%;
  justify-content:space-between
  
  
  }
  
  .menu>div{
    display: inline-grid;
    font-size: 1.2rem;
    justify-content: stretch;
    margin-top: 5%;
    margin-left: 5%;
  
  }
  
  
  
  
  
  /* GALLERY */
  .gallery{
    display: inline-grid;
  }
  .gallery>label{
    font-size: 1rem;
  }
  
  
  
  /* Grid Item */
  .item {
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;
  }
  
  .gap {
    gap: 5px;
  }