{{#if auth}}
<h1>cadastro/h1>

<form action="/users/save" method="post">
<div class="col-md-4 ">
<label for="carro" class="form-label">carro</label>
<input type="text" name="carro" class="form-control">
</div>
<div class="col-md-4 ">
<label for="age" class="form-label">marca</label>
<input type="text" class="form-control" name="age">
</div>
<br>
<div class="col-md-4 ">
<label for="ano" class="form-label">ano</label>
<input type="text" class="form-control" name="ano">
</div>
<br>
<div class="col-md-4 ">
<label for="age" class="form-label">cor</label>
<input type="text" class="form-control" name="age">
</div>
<br>
<div class="col-md-4 ">
<label for="potencia" class="form-label">potencia</label>
<input type="text" class="form-control" name="potencia">
</div>
<br>
<div class="col-12">
<button type="submit" class="btn btn-primary">Sign in</button>
</div>
</form>
<br>
<div class="col-3">
<a href="/">Home</a>
</div>
{{/if}}