/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.content .list-menu{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

body {
  background-color: #f0ebf8;
}


h1,
h2,
h3,
h4,
h5 {
  color: #333;
}




p,
label {
  color: #444;
}


input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}


input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
  width: 400px;
}


textarea {
  padding: 10px 5px;
}


/* page header */
.header {
  height: 160px;
  padding: 20px;

  background-image: linear-gradient(rgba(134, 127, 127, 0.8),rgba(29 ,29 ,29 ,0.8)), url(./aniversario/R.jfif);
}


.header h3 {
  color: #fff;
  margin-top: 20px;
  text-align: center;
  font-size: 45px;
}


/* form container */
.form-container {
  background-color: #fdfdfd;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: -62px;
}


/* form header */
.form-header {
  border-bottom: 1px solid #dfdfdf;
  height: 45px;
  
}
.form-header p{
  color: black;
  border-bottom: 2px solid #d4d3d6;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
  font-weight:700;
}








/* form body */
.form-body{
  padding: 30px;
 




}




.form-title{
  text-align: center;
  padding: 15px;


}








form-title{
  margin-bottom: 15px;
}








.form-body p {
  margin-bottom: 20px;
}








.required-field{
  color: red;
}








.box-input{
  margin-bottom: 35px;
}








.block{
  display: block;
}








.opitional-box{
  display: inline-block;
  margin: 0 30px 30px 0;
}








.opitional-list li{
  list-style: none;
  margin-bottom: 5px;
}








.box-input p{
  margin-bottom: 20px;
 
}








.btn-submit{
  background: rgb(255, 145, 0);
  color: #fff;
  border: 2px solid transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0,5s;
}








.btn-submit:hover{
  background-color: #fff;
  border-color:rgb(255, 145, 0);
  color: rgb(255, 145, 0);
}


